html, body {
    overflow-x: hidden;
    width:100%;
    margin:0;
    padding:0;
}

div.container1 {
    width: 940px;
    margin: 0 auto;
    border: 10px solid rgba(0,0,50,0);
}

div.container2 {
    width: 830px;
    background-color: grey;
    border: 15px solid rgba(0,50,0,0);
    margin: 0 auto;
}

.row {
    table-layout: fixed;
    display: table;
    width: 100%;
}

.cell {
    display: table-cell;
    font-size: 16pt;
}

.cell:first-child {
    text-align: left;
    padding-left: 20px;
    /* might look better if there is a vertical separator in a box (so that each box is visually split into 4 parts)*/
    /*border-right: 1px solid;*/
}
.cell:last-child {
    text-align: right;
    padding-right: 20px;
}

.box {
    border: 5px solid rgba(0,0,0,0);
    display: table-cell;
    text-align: center;
    width: 100%;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.box:hover {
    border: 5px solid black;
}

.header {
    font-weight: 800;
    border-bottom: 1px solid;
}

@media screen and (max-width: 940px) {
    div.container1 {
        width: calc(100% - 20px);
        margin: 0;
    }

    div.container2 {
        width: calc(100% - 30px);
        margin: 0;
    }
}

div.container2 .blue {
    background-color: blue;
}

div.container2 .green {
    background-color: green;
}

div.container2 .red {
    background-color: red;
}

.stats {
    background-color: #000066;
    color: white;
    width:100%;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.stats > span {
    margin: 0 10px;
}

#notifications {
    position: absolute;
    pointer-events: none;
    width: 250px;
}

.notification {
    background:#e9ffd9 10px 50%;
    border:1px solid #a6ca8a;
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 300px) {
    .cell {
        font-size: 10pt;
    }

    .cell:first-child, .cell:last-child {
        padding: 0;
    }

    #notifications {
        width:100%;
    }
    .notification {
        border-radius:0;
    }
    .stats > span {
        font-size: 10px;
        float:left;
        padding: 0;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s linear;
}
